html, body {
    height: 100%;
    background-color: white;
}
.thumbs-up-big {
    max-width: 100%;
    max-height: 12rem;
    width: 12rem;
}
.thumbs-up-small {
    max-width: 100%;
    max-height: 3rem;
    width: 3rem;
}

.dots {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.dot {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    background-color: black;
    border-radius: 50%;
    vertical-align: middle;
    animation-iteration-count: 1; 
    animation-duration: 0.8s;
}

.dot-1 {
    animation-delay: 0s;
}
.dot-2 {
    animation-delay: 1s;
}
.dot-3 {
    animation-delay: 2s;
}